.Landing-page{
    background-color: #F5F6FA;
    min-height: 100vw;
.faixa-exercicio-01{
    display: flex;
    margin-top: 80px;
    margin-left: 70px;
    flex-direction: column;

    gap: 20px;

    

    img{
        display: flex;
        width: 30px;
        margin-top: 1px;
    }

    .linha{
        width: 1130px;
        height: 4px;
        background-color: #FFCE37;
        border-radius: 20px;
    }

    .cima{
        display: flex;
        flex-direction: row;
        gap: 18px;
        margin-left: -30px;
    }

 
}
.info-exercicio-01{
    display: flex;
    
    margin-top: 20px;
    align-items: center;
    justify-content: center;

    div{
        width: 1080px;
        background-color: white ;
        padding: 80px 25px;
    }

    p{
        text-align: center;
        font: 400 14px "Roboto";
        
    }

}

.exercicio-exe{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    flex-direction: column;
    gap: 10px;
    .pedido{
        display: flex;
        background-color: white;
        flex-direction: column;

        padding: 30px;
        gap: 10px;
    }
    input{
        padding: 5px;
        width: 250px;

        border-radius: 5px;
        border-width: 1px;
    }

    .executar{
        background-color: #6278F7;
        border-style: none;
        padding: 15px;
        width: 120px;
        color: white;
        border-radius: 5px;

        margin-left: 140px;
        margin-top: 15px;
    }
    p{
        margin-left: 140px;
    }

}

}